[submodule "axera/deps/sensevoice.axera"]
	path = axera/deps/sensevoice.axera
	url = https://github.com/ml-inory/sensevoice.axera.git
[submodule "axera/deps/melotts.axera"]
	path = axera/deps/melotts.axera
	url = https://github.com/ml-inory/melotts.axera.git
[submodule "axera/deps/Her.axera"]
	path = axera/deps/Her.axera
	url = https://github.com/ml-inory/Her.axera.git
